<div class="row-fluid">
  <div class="col-sm-12 no-padding">
    <table style="width: 100%;">
      <tr>
        <td>
          <div class="label label-warning how-it-works-diagram-item">
            <span><%= t('diagram.creating') %></span>
            <%= t('diagram.creating_small') %>
          </div>
        </td>
        <td>
          <div class="how-it-works-diagram-item">
            <div class="arrow-right"></div>
            <div class="arrow-right_small"></div>
          </div>
        </td>
        <td>
          <div class="label label-info how-it-works-diagram-item">
            <span><%= t('diagram.receiving') %></span>
            <%= t('diagram.receiving_small') %>
          </div>
        </td>
        <td>
          <div class="how-it-works-diagram-item">
            <div class="arrow-right"></div>
          </div>
        </td>
        <td>
          <div class="label label-primary  how-it-works-diagram-item">
            <span><%= t('diagram.delivering') %></span>
            <%= t('diagram.delivering_small') %>
          </div>
        </td>
        <td>
          <div class="how-it-works-diagram-item">
            <div class="arrow-right"></div>
          </div>
        </td>
        <td>
          <div class="label label-success how-it-works-diagram-item" style="height: 60px;padding-top: 20px;">
            <span style="font-size: 18px;"><%= t('diagram.success') %></span>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<!--<div>
  <div class="label label-warning how-it-works-diagram-item">
    <span><%= t('diagram.creating') %></span>
    <%= t('diagram.creating_small') %>
  </div>
  <div class="how-it-works-diagram-item">
    <div class="arrow-right"></div>
    <div class="arrow-right_small"></div>
  </div>
  <div class="label label-info how-it-works-diagram-item">
    <span><%= t('diagram.receiving') %></span>
    <%= t('diagram.receiving_small') %>
  </div>
  <div class="how-it-works-diagram-item">
    <div class="arrow-right"></div>
  </div>
  <div class="label label-primary  how-it-works-diagram-item">
    <span><%= t('diagram.delivering') %></span>
    <%= t('diagram.delivering_small') %>
  </div>
  <div class="how-it-works-diagram-item">
    <div class="arrow-right"></div>
  </div>
  <div class="label label-success how-it-works-diagram-item">
    <span><%= t('diagram.success') %></span>
  </div>
  <div class="clearfix"></div>
</div>-->