<ul class="list-group list-unstyled">
  <li class="list-group-item"><%= link_to t('project.listing'), controller: 'projects' %></li>
  <li class="list-group-item"><%= link_to t('project.create'), new_project_path %></li>
  <li class="list-group-item"><%= link_to t('how_it_works'), how_it_works_path %></li>
  <li class="list-group-item"><%= link_to t('bc_university'), university_path %></li>
  <li class="list-group-item"><%= link_to t('faq'), faq_path %></li>
</ul>