.col-sm-12.sm-top-buffer
  %h5#nav-how-it-works.mouse_pointer.content-block-header{:term => "how-it-works"}
    \> #{t('quickstart.nav.how-it-works')}
  .content.content-block{:term => "how-it-works"}
    %p
      %strong Наша идея
      проста. Если ты:
    %ol
      %li Crazy -личность.
      %li Хочешь удивить мир креативной идеей.
      %li У тебя есть талант, который впечатлит публику.
      %li У тебя до сих пор есть не сбывшаяся мечта.
    %p
      Ты на верном пути. Создай проект здесь на BULLCENTURY докажи себе чего стоишь.
      На BULLCENTURY приходит две группы людей. Создатели проектов и инвесторы либо сторонники.  Создатели трансформируют  свои идеи в проект, предлагают  креативные  вознаграждения,  и выпускают готовую «мечту» онлайн. Инвесторы  со всего мира пересматривают проекты на сайте, и решают либо инвестировать деньгами,  либо поддержать  создателя опытным советом.
    %p BC предоставляет уникальную возможность,  выразить свою креативную идею, талант или личность.  Для создателей проектов, это мощный источник  профессионального наставничества, расширения полезных связей, и сбора средств. Для инвесторов либо сторонников, это ежедневная выставка. Где всегда есть возможность открыть новые  таланты и  потенциальные возможности классных вознаграждений.
    %p На BC Вы откроете для себя новый  мир. Вы сможете помогать другим стать успешнее. Удивитесь таланту близких друзей. Сможете обрести новых знакомых и единомышленников.
    %p
      %strong Проект
      \-  правила очень простые:
    %ol
      %li Будь собой
      %li Это должно бить « очень креативно» или «реально интересно»
      %li Сrazy, если ты понимаешь что мы имеем в виду, прояви себя в нашей  уникальной категории СУМАШЕСТВИЕ.
    %p BC приветствует разносторонние проекты. От пения к танцам, от ракетостроения до неудачной инновации, от аматорских фильмов до публикаций романов. А в случае если ты хочешь предложить помочь или получить поддержу. Наши социальные проекты - благотворительность, сообщества, окружающая среда и другие, били специально разработаны с некоммерческой целью. Мы хотим приносить пользу для общества. За более детальным списком категорий, заходите сюда –  NO,6 in BC INFORMATION CENTER.
    %p
      %strong Инвесторы/Сторонники
      – могут поддерживать любой проект, или несколько одновременно:
    %ol
      %li Инвестируй в проект – через безопасную систему оплаты BC
      %li Наставники и Консультанты  - могут стать фанами проектов. Писать в «личку» создателю. Либо просто использовать комментарии.
      %li Популярность и Продвижение –  сторонники  могут стать фанами создателя. Распространять линк проекта в социальных сетях. Либо просто ставить «лайк»
    %p *Для проектов категории музыка/ медиа,  процесс сбора средств на BC работает так же как c лейблом первого альбома.
    %a{:href => "#"} Still need more detailed information? Please visit BC information center and video class room.
.col-sm-12.sm-top-buffer
  %h5#nav-fees.mouse_pointer.content-block-header{:term => "fees"}
    \> #{t('quickstart.nav.fees')}
  .content.content-block{:term => "fees"}
    %p This information will be available before official launching in different countries.
.col-sm-12.sm-top-buffer
  %h5#nav-crowd-funding.mouse_pointer.content-block-header{:term => "crowd-funding"}
    \> #{t('quickstart.nav.crowd-funding')}
  .content.content-block{:term => "crowd-funding"}
    %p Все проекты на bullcentury  финансируются инвесторами либо частными предприятиями со всего  мира. И неважно  твоя миссия спасти человечество, или неудачная   инновацию. Все проекты без исключения находят свою поддержку на сайте. После того как каждый независимый проект создан и выпущен в свет, люди (инвесторы) могут отправить  деньги на реализацию, если  конечно проект им понравился.
    %p Bullcentury предоставляет одинаковую платформу, для запуска и демонстрации  проектов на сайте. Bullcentury  не учувствует в  дальнейшем  развитии проекта. Создатель проекта сохраняет право, полный контроль и ответственность за свой проект во время всего процесса.
.col-sm-12.sm-top-buffer
  %h5#nav-what-do-you-need-to-start.mouse_pointer.content-block-header{:term => "what-do-you-need-to-start"}
    \> #{t('quickstart.nav.what-do-you-need-to-start')}
  .content.content-block{:term => "what-do-you-need-to-start"}
    %li Креативная идея
    %li Компьютер или Планшет или Смартфон
    %li Ответственность и Честность
.col-sm-12.sm-top-buffer
  %h5#nav-link-to-info-center.mouse_pointer.content-block-header{:term => "link-to-info-center"}
    \> #{t('quickstart.nav.link-to-info-center')}
  .content.content-block{:term => "link-to-info-center"}
    %p За более детальной  информацией, пожалуйста, зайдите на BC Information Center  или Video Class Room.
    %p Bullcentury (BC),  ценит мнение каждого. Делитесь с нами своими рекомендациями, опытом и  идеями. Так вы поможете нам усовершенствоваться и устранить недостатки.
    %p Свяжитесь с нами:
    %a{:href => "mailto:info@bullcentury.com"} info@bullcentury.com