.col-sm-12.sm-top-buffer
  %h5#nav-how-it-works.mouse_pointer.content-block-header{:term => "how-it-works"}
    \> #{t('quickstart.nav.how-it-works')}
  .content.content-block{:term => "how-it-works"}
    %p
      %strong A mi ötletünk
      egyszerű. Ha van egy kreatív ötleted amivel le szeretnéd nyűgözni a világot, ha van egy tehedséged, amivel megleped a tömeget, ha van egy álmod amit szeretnél, hogy valóra váljon... Akkor hozz létre egy Projektet itt a BullCentruy-n, bizonyítsd be magadnak, hogy mennyire tehetséges vagy.
    %p Lényegében két csoportra oszlik a BullCentury látogatói köre, Projekt létrehozók és Befektetők/Támogatók. A Projekt létrehozói belerakják az ötletüket a projektbe, javaslatot tesznek egy egyszeri vagz többszöri kreatív jutalomra és közzé teszik azt a BullCentruy-n. Befektetők/Támogatók a világ bármely pontjáról keresnek projekteket és eldöntik, hogy pénzt fektetnek e bele vagy támogatják a saját tapasztalataikkal a projektet.
    %p BC egy olyan felületet biztosít Neked, ahol ki tudod fejezni bármilyen kreatív ötletedet, tehetségedet vagy a személyiségedet. Mint a projekt létrehozójának, ez egy igazán erős hely a tőke növelésére, mentorállásra és kapcsolatok kiépítésére. Mint Befektetőnek/Támogatónak ez egy mindennapos vidám kiállítás ahol bármikor felfedezhetsz új ötleteket, tehetségeket és potenciális lehetőségeket nagy jutalmakra. Itt a BC-n élvezheted, hogy a Te segítségeddel bárkit a siker kapujába vezethetsz, vagy nem kizárt, hogy a legjobb barátaid fognak lenyűgözni a tehetségükkel. Valamint élvezheted, hogy találkozhatsz új emberekkel, akik ugyanazon álmokkal bírnak, és segíteni szeretnének, hogy megvalósuljon.
    %p
      %strong Projekt
      \- a szabály egyszerű:
    %ol
      %li Légy önmagad
      %li Vagy nagyon kreatívnak vagy nagyon viccesnek kell lennie
      %li Őrült ötletek, ha tudod mire gondolunk, kérlek a CRAZY projekt kategória alatt fejezd ezt ki
    %p
      A BC bármilyen kreatív ötletet szívesen lát, legyen az táncolás vagy éneklés, tudománytól a gagyi feltalálásokig, amatőr film vagy regény publikálása. Egyszerűen csak azt kell kívánnod, hogy segíthess vagy segítsenek Neked. A szociális projektjeink magukba foglalják a jótékonykodást, közösségi és természeti fejlesztéseket, stb, amik kifejezetten non-profit és közösségi célokat szolgálnak. Még részletesebb projekt kategória listáért,
      %a{:href => "javascript:;"} katt ide.
    %p
      %strong Befektető/Támogató
      \- támogathat bármely projektet, egyet vagy egyszerre többet is
    %ol
      %li Befektetés – biztonságos fizetési rendszeren keresztül
      %li Mentorállás & Konzultáció – először a projekt létrehozójának a ‘Fan’-ja, azután privát üzenetek, vagy egyszerűen nyitott kommentek
      %li Népszerűség és Bemutatás - először a projekt létrehozójának a ‘Fan’-ja, vagy a project megosztása a közösség oldalakon, vagy a LIKE gomb lenyomása
    %p
      %small *zene/média projektek esetén a tőke emelési folyamat a BC-n ugyanúgy vagy hasonlóan működik, mint az első album kiadásánál.
    %p
      Még több információra van szükséged? Kérlek látogass el a
      %a{:href => "javascript:;"} BC Információs központba
      vagy a
      = succeed "." do
        %a{:href => "javascript:;"} Videó Tanterembe
.col-sm-12.sm-top-buffer
  %h5#nav-fees.mouse_pointer.content-block-header{:term => "fees"}
    \> #{t('quickstart.nav.fees')}
  .content.content-block{:term => "fees"}
    %p This information will be available before official launching in different countries.
.col-sm-12.sm-top-buffer
  %h5#nav-crowd-funding.mouse_pointer.content-block-header{:term => "crowd-funding"}
    \> #{t('quickstart.nav.crowd-funding')}
  .content.content-block{:term => "crowd-funding"}
    %p Az összes projekt, nagyságtól függetlenül, elérhető mindenki számára bármely országból. Miután egy projekt egyénileg létrejött és a közösségi oldalra került, a látogatók Like-olhatják és segíthetnek a megvalósulásában.
    %p BullCentury mindenkinek egyenlő lehetőséget biztosít mind a felülettel, mind az erőforrással, hogy a projektet létre lehessen hozni. A Bullcentury már nem vesz részt a projekt további fejlesztésében/fejlődésében. A projekt létrehozóit jogok illetik meg, teljes irányítást és felelősséget vállalnak a teljes projekt folyamatában.
.col-sm-12.sm-top-buffer
  %h5#nav-what-do-you-need-to-start.mouse_pointer.content-block-header{:term => "what-do-you-need-to-start"}
    \> #{t('quickstart.nav.what-do-you-need-to-start')}
  .content.content-block{:term => "what-do-you-need-to-start"}
    %ul
      %li Egy kreatív ötlet
      %li Egy laptop, táblagép vagy okostelefon
      %li Elkötelezettség és tisztesség
.col-sm-12.sm-top-buffer
  %h5#nav-link-to-info-center.mouse_pointer.content-block-header{:term => "link-to-info-center"}
    \> #{t('quickstart.nav.link-to-info-center')}
  .content.content-block{:term => "link-to-info-center"}
    %p Kérlek látogass el a BC Infomációs központba vagya Videó Tanterembe.
    %p A Bullcentrury-nál te vagy a legfontosabb. BC-t értékeli a véleményed és a hozzászólásod, nálunk helyet kap bármilyen javaslat a jövő beli fejlesztésekben. Kérlek, segíts nekünk, hogy gyorsabban növekedjünk, úgy hogy elmondod nekünk a tapasztalatodat, véleményedet vagy cool ötleteidet.
    %p Kapcsolat:
    %a{:href => "mailto:info@bullcentury.com"} info@bullcentury.com