.col-sm-7.col-md-7.top-buffer
  #nav-how-it-works.col-sm-12.col-md-12.content-block-header-new.mouse_pointer{:term => "how-it-works"}
    %span.glyphicon.glyphicon-chevron-down.arrow-down
    .white-big-header
      = t('quickstart.nav.how-it-works')
      
.col-sm-12.sm-top-buffer
  %h5#nav-how-it-works.mouse_pointer.content-block-header{:term => "how-it-works"}
    \> #{t('quickstart.nav.how-it-works')}
  .content.content-block-new{:term => "how-it-works"}
    %p
      %strong Our Idea
      is simple, if you’ve got a creative idea wish to impress the world; if you’ve got talents could surprise the crowd; if you’ve got a dream wish to make it come true... Then, create a project here on BULLCENTURY (BC), proof it to yourself how good you really are.
    %p There are mainly 2 groups of people come to BULLCENTURY, Project Creators and Investors/Supporters. Project Creators interpret their ideas into a project, propose a single or a set of creative rewards and publish them on BullCentury. Investors/Supporters from all over the world will browse the projects and decide either to invest by money or support the project by providing their expertise.
    %p BC gives every creative individual an equal platform to express their ideas, talents and personalities. As to project creator, it is a powerhouse of fund raising, mentoring and network expansion. As to investor/supporter, it is a everyday-fun-exhibition where you could discover new creativities, talents and potential opportunities of great rewards. On BC you may find joy for helping the others to success; you may be surprised for discovering how talent your close friends are; you may also enjoy the happiness for meeting new people who share the same dream, and like to help you to make it come true.
    %p
      %strong
        %span.translation_missing{:title => "translation missing: ua.project.title"} Project
      \- the rule is simple:
    %ol
      %li Be yourself
      %li It must be either ‘really-creative’ or ‘really-fun’
      %li Crazy ones, if you know what we mean, please express your craziness under project category - CRAZY only.
    %p
      BC welcomes variety of creative projects ranging from singing to dancing; rocket science to crappy innovations; amateur film to novel publication. Even you just simply wish to offer help or get helped. Our social projects includes charity, community and environmental improvements etc are especially built for non-profit and public well-being purposes. For most detailed category list of projects, please check out item
      %a{:href => "javascript:;"} No.6 in BC INFORMATION CENTER.
    %p
      %strong Investor / Supporter
      \- may support any projects in either one or all of the followings at same time:
    %ol
      %li Invest in project - through BC secured payment system
      %li Mentoring & Consulting - become to project creator’s fans first, then private messaging. Or simply using open commenting.
      %li Popularity & Promote - become to project creator’s fans, or share (promote) the project link on social networks, or simply click on the like button.
.col-sm-12.sm-top-buffer
  %h5#nav-fees.mouse_pointer.content-block-header{:term => "fees"}
    \> #{t('quickstart.nav.fees')}
  .content.content-block{:term => "fees"}
    %p This information will be available before official launching in different countries.
.col-sm-12.sm-top-buffer
  %h5#nav-crowd-funding.mouse_pointer.content-block-header{:term => "crowd-funding"}
    \> #{t('quickstart.nav.crowd-funding')}
  .content.content-block{:term => "crowd-funding"}
    %p All projects on BullCentury no matter big or small, that are directly backed, financed and supported by the public individuals or institutions from all countries. After each project is independently created and launched, If people like a project, they can pledge money to make it happen.
    %p BullCentury provides an equal opportunity platform and resource for launching and displaying the projects only. BullCentury is not involved in any further project developments. The project creators preserve the rights, full control and responsibility of their projects through the entire process.
.col-sm-12.sm-top-buffer
  %h5#nav-what-do-you-need-to-start.mouse_pointer.content-block-header{:term => "what-do-you-need-to-start"}
    \> #{t('quickstart.nav.what-do-you-need-to-start')}
  .content.content-block{:term => "what-do-you-need-to-start"}
    %ul
      %li An creative idea
      %li A laptop or Tablets or Smartphone
      %li Commitment and Honesty
.col-sm-12.sm-top-buffer
  %h5#nav-link-to-info-center.mouse_pointer.content-block-header{:term => "link-to-info-center"}
    \> #{t('quickstart.nav.link-to-info-center')}
  .content.content-block{:term => "link-to-info-center"}
    %p
      Please visit BC
      %a{:href => "#"} Information Center
      and
      %a{:href => "#"} Video Class Room
      for more detailed information.
    %p In Bullcentury(BC), you are the most important. BC values all your opinions and comments, will keep adding all your concerns and recommendations into future improvements. Please help us to grow faster by telling us more about your experiences and cool ideas.
    %p Contact us at:
    %a{:href => "mailto:info@bullcentury.com"} info@bullcentury.com