.col-sm-12.sm-top-buffer
  %h5#nav-project-categories.mouse_pointer.content-block-header{:term => "project-categories"}
    \> #{t('rules.nav.project-categories')}
  .content.content-block{:term => "project-categories"}
    %p Проект має підходити одній із наших категорій
    = render :partial => 'home/list_subcategory'
    %br/
    %br/
    %p
      %small Примітка: Проект може підходити декільком категоріям одночасно. Творець проекту може і має можливість ( під час процесу створення) визначити проект під декількома відповідними категоріями одночасно.
.col-sm-12.sm-top-buffer
  %h5#nav-the-project.mouse_pointer.content-block-header{:term => "the-project"}
    \> #{t('rules.nav.the-project')}
  .content.content-block{:term => "the-project"}
    %ol
      %li Проект повинен мати чітку пропозицію. Може бути, як матеріальним так і навпаки. Для прикладу: серіал або CD альбом, нова інноваційна технологія або дитячий майданчик для жителів мікрорайону.
      %li Проект має бути завершеним, в результаті щось буде вироблятися або створюватися.
      %li Проект повинен запропонувати винагороду, яку реально буде доставити в цілому вигляді всім прихильникам.
      %li Проект  обов*язково повинен бути чесним та прозорим для всіх прихильників. Тримайте людей в курсі будь яких змін.
.col-sm-12.sm-top-buffer
  %h5#nav-who-can-create-project.mouse_pointer.content-block-header{:term => "who-can-create-project"}
    \> #{t('rules.nav.who-can-create-project')}
  .content.content-block{:term => "who-can-create-project"}
    %p
      Створити проект можуть всі хто знаходиться на території Євросоюзу, в Гонконзі, Тайвані та Україні. Ми продовжуємо покривати нові території. Тож якщо Ви не бачите свою країну в списку – зовсім скоро ми доберемось і туди.
      Будь який вид бізнесу, а також некомерційні організації також можуть створити власний креативний проект на
      %strong BULLCENTURY.
.col-sm-12.sm-top-buffer
  %h5#nav-who-can-support-project.mouse_pointer.content-block-header{:term => "who-can-support-project"}
    \> #{t('rules.nav.who-can-support-project')}
  .content.content-block{:term => "who-can-support-project"}
    %p Інвестувати в проект (грошима) можуть,  всі кому виповнилось вісімнадцять, з будь якої точки земної кулі.
    %p Будьте уважними! Якщо ви бажаєте переслати кошти творцю, зверніть увагу на країну де був створений проект. Можливо вам доведеться отримати діючий акаунт ( такий як  paypal, amazon, та інші)
    %p Для прихильників які пропонують будь який вид підтримки за виключенням грошей – немає вікових обмежень.
.col-sm-12.sm-top-buffer
  %h5#nav-what-is-not-allowed.mouse_pointer.content-block-header{:term => "what-is-not-allowed"}
    \> What is
    %u not
    allowed
  .content.content-block{:term => "what-is-not-allowed"}
    %ol
      %li Творці не можуть пропонувати наступні винагороди: право власності, фінансові стимули, долю прибутків, грошові еквіваленти, дорогоційні матеріали, та інше…
      %li Творець не може Не виконати обіцяну винагороду, яку він\вона зобов*язувався реалізувати в конкретні сроки.
      %li BULLCENTURY неможна використовувати в цілях особистого заробітку. Це стипендія, проекти в стилі «проспонсуй моє життя». На навчання, а також на користь особистих рахунків в банках.
      %li BULLCENTURY не може бути використаним для збору коштів на організацію терорестичних груп, або будь якої іншої діяльності.
      %li BULLCENTURY не можна використовувати для збору коштів на проекти які можуть нашкодити навколишньому середовищу, негативно вплинути на клімат, або здоров*я людей.
      %li BULLCENTURY не можна використовувати  для збору коштів на проекти небезпечні для життя.
      %li BULLCENTURY забороняється використовувати для створення програмного забезпечення, веб сайтів або додатків, які сфокусовані на електронній комерції, публікаціях, медіа та інноваційних проектах, які не були створені  розробником, продюсером або власником.
      %li
        Проекти не можуть перепродавати предмети, які не були створені творцем.
      %li Проекти не можуть пропонувати алкоголь, тютюнові вироби, наркотики, а також продукти сексуального змісту в цілях винагороди.
      %li Проекти не можуть пропонувати тварин, комах, а також генетично модифіковані продукти в цілях винагороди.
      %li Поради на тему бізнес, фінанси, медицини та психології – забороняються.
      %li На BULLCENTURY забороняється створювати проекти які можуть містити  різного роду сексуальні спокуси, елементи проституції та шлюбні агенства.
      %li Тютюнові вироби, наркотики, енергетичні напої та харчові добавки також забороняються.
      %li Без порнографії, матеріалів які схвалюють або виступають проти знаменитостей або політиків.
      %li
        Без образливих матеріалів, словесних знущань та залякувань.
      %li Проекти не можуть розігрувати конкурси, лотереї, купони, пропонувати азартні ігри, або довічне членство.
      %li Проекти які рекламують певне медичне лікування або косметику  на BULLCENTURY забороняються.
      %li Програми відео спостереження, військове спорядження, розробка хакерського програмного забезпечення- забороняється.
      %li Вогнепальна зброя, боєприпаси, ножі,будь які аксесуари які мають відношення до зброї, спортивна зброя, а також висловлюванання на тему зброї-  забороняється.
      %li Проекти на тему медицини,здоров*я – забороняються.
      %li Забороняється публікація політичних матеріалів, або строго засекреченої інформації заснованої на місцевому законодавстві певної країни.