/
  <ul>
  <li><a href="#">КАТЕГОРИИ ПРОЕКТОВ</a></li>
  <li><a href="#">ЧТО ОЗНАЧАЕТ ПРОЕКТ НА BULLCENTURY</a></li>
  <li><a href="#">ЧЕГО ДЕЛАТЬ НЕЛЬЗЯ</a></li>
  <li><a href="#">КТО МОЖЕТ СОЗДАТЬ ПРОЕКТ</a></li>
  <li><a href="#">КТО МОЖЕТ ИНВЕСТИРОВАТЬ И ПОДДЕРЖИВАТЬ</a></li>
  </ul>
.col-sm-12.sm-top-buffer
  %h5#nav-project-categories.mouse_pointer.content-block-header{:term => "project-categories"}
    \> #{t('rules.nav.project-categories')}
  .content.content-block{:term => "project-categories"}
    %p Проект должен подходить одной из наших категорий:
    = render :partial => 'home/list_subcategory'
    %br/
    %br/
    %p
      %small Примечание: Проект может подходить нескольким категория одновременно. Создатель проекта может  и имеет возможность (во время  процесса создания) определить проект под несколькими соответствующими категориями.
.col-sm-12.sm-top-buffer
  %h5#nav-the-project.mouse_pointer.content-block-header{:term => "the-project"}
    \> #{t('rules.nav.the-project')}
  .content.content-block{:term => "the-project"}
    %ol
      %li Проект должен иметь четкое предложение. Может бить как материальным, так и наоборот. К примеру, сериал или CD альбом, новая инновационная технология или детская площадка для жителей микрорайона.
      %li Проект в конечном итоге должен  бить завершенным , как результат что ни будь будет производиться или создаваться.
      %li Проект должен предложить вознаграждение,  которое реально будет доставить в целом виде всем сторонникам.
      %li Проект  обязательно должен бить прозрачным  и честным для всех сторонников. Держите людей  в курсе, всех изменений.
.col-sm-12.sm-top-buffer
  %h5#nav-who-can-create-project.mouse_pointer.content-block-header{:term => "who-can-create-project"}
    \> #{t('rules.nav.who-can-create-project')}
  .content.content-block{:term => "who-can-create-project"}
    %p Создать проект могут все кто находиться на территории  Евросоюза, в Гонконге, Тайване и Украине. Мы продолжаем покрывать новые страны. Если вы не видите вашу страну в списке, не расстраивайтесь, совсем скоро мы туда доберемся.
    %p
      Любой вид бизнеса, а так же некоммерческие организации тоже могут размещать свои креативные идеи на
      = succeed "." do
        %strong BULLCENTURY
.col-sm-12.sm-top-buffer
  %h5#nav-who-can-support-project.mouse_pointer.content-block-header{:term => "who-can-support-project"}
    \> #{t('rules.nav.who-can-support-project')}
  .content.content-block{:term => "who-can-support-project"}
    %p Инвестировать в проект (деньгами)  могут,  все кому исполнилось 18-дцать с любой точки земного шара.
    %p Будьте внимательны! Если вы хотите перечислить деньги создателю, обратите внимание на страну где  бил создан проект. Возможно вам нужно будет получить  действующий аккаунт (такой как paypal,amazon,и  другие)
    %p Нет возрастных лимитов для тех, сторонников которые предлагают любой вид поддержки за исключением денег.
.col-sm-12.sm-top-buffer
  %h5#nav-what-is-not-allowed.mouse_pointer.content-block-header{:term => "what-is-not-allowed"}
    \> What is
    %u not
    allowed
  .content.content-block{:term => "what-is-not-allowed"}
    %ol
      %li Создатели не могут предлагать  следующие  вознаграждения: право собственности, финансовые стимулы,  долю прибыли, денежные эквиваленты, драгоценные материалы  и так далее.
      %li Создатель не может Не выполнить обещанное вознаграждение, которое он\она обязывался  реализовать в определенные  сроки.
      %li BULLCENTURY нельзя использовать для зарабатывания денег в личных целях. Это  стипендия, проекты в стиле « спонсируй мою жизнь». На обучение или личные счета в банках.
      %li BULLCENTURY не может бить использован для сбора средств на организацию террористических групп, или  другой криминальной деятельности.
      %li BULLCENTURY нельзя использовать для сбора средств на проекты, которые могут навредить окружающей среде, негативно повлиять на климат, или здоровье людей.
      %li BULLCENTURY нельзя использовать для  сбора средств на проекты опасные для жизни.
      %li BULLCENTURY запрещается использовать для создания программного обеспечения, веб сайтов или приложений сфокусированных на электронной коммерции, публикациях, медиа и инновационных проектах, которые не били, произведены разработчиком, продюсером или собственником.
      %li Проекты не могут перепродавать предметы, которые не били, произведены создателем.
      %li Проекты не могут предлагать алкоголь, табачные изделия, наркотики, а так же продукты  сексуального содержания в целях вознаграждения.
      %li Проекты не могут предлагать животных, насекомых, а так же генетически модифицированные продукты в целях вознаграждения.
      %li Советы на тему бизнеса, финансов, медицины и психологии запрещаются.
      %li На BULLCENTURY запрещаются сексуальные совращения, проституция и  брачные агентства.
      %li Табачные  изделия, наркотики,  энергетические напитки и пищевые добавки, так же запрещаются.
      %li Нет порнографии, материалов одобряющих или выступающих против знаменитостей или политиков.
      %li Без оскорбительных материалов, словесного издевательства или запугивания.
      %li Проекты не могут разыгрывать конкурсы, лотереи, купоны, предлагать  азартные игры, или  пожизненное членство.
      %li Проекты, продвигающие медицинское лечение и  косметику на BULLCENTURY запрещаются.
      %li Программы видео наблюдение, военное оборудование,  разработка хакерского программного обеспечения – запрещаеться.
      %li Огнестрельное оружие, боеприпасы, ножи, любые оружейные аксессуары, спортивное оружие  сборка оружия,  и реплики про оружие -  запрещаются.
      %li Медицина, здоровье, продукты личного ухода – запрещаются.
      %li Запрещается публикация  политических материалов, либо строго засекреченной информации  основанной на местном законодательстве определенной страны.