.col-sm-12.sm-top-buffer
  %h5#nav-project-categories.mouse_pointer.content-block-header{:term => "project-categories"}
    \> #{t('rules.nav.project-categories')}
  .content.content-block{:term => "project-categories"}
    %p The project must fit into at least one of the following categories
    = render :partial => 'home/list_subcategory'
    %br/
    %br/
    %p
      %small NOTE: The project may fit into multiple categories of the following. Project Creator is allowed and has the options (during creation process) to define the project under multiple suitable categories.
.col-sm-12.sm-top-buffer
  %h5#nav-the-project.mouse_pointer.content-block-header{:term => "the-project"}
    \> #{t('rules.nav.the-project')}
  .content.content-block{:term => "the-project"}
    %ol
      %li The project must has a clear project offer, can be both intangible or tangible. For example an episode, a single CD album, an new innovation technology or a children play-ground for the community.
      %li The project must eventually be completed, and something will be produced or created as a result.
      %li The project must offer a reward, and eventually liable for delivery the full reward to all your supporters.
      %li The project’s progress must be fully and honestly transparent to all your supporters, keep them informed if any unexpected delays or alteration from the original plan.
.col-sm-12.sm-top-buffer
  %h5#nav-who-can-create-project.mouse_pointer.content-block-header{:term => "who-can-create-project"}
    \> #{t('rules.nav.who-can-create-project')}
  .content.content-block{:term => "who-can-create-project"}
    %p Creating Project is currently open to all age creators in EU, China (Hong Kong, Taiwan), and Ukraine. We are continuously working at the best to expand our market area in new countries. If you don’t see your countries yet, we are coming soon.
    %p Businesses, Individuals, nonprofits and other organizations all can fund their creative projects by using BULLCENTURY.
.col-sm-12.sm-top-buffer
  %h5#nav-who-can-support-project.mouse_pointer.content-block-header{:term => "who-can-support-project"}
    \> #{t('rules.nav.who-can-support-project')}
  .content.content-block{:term => "who-can-support-project"}
    %p Investing in a project (by money)is currently open to investors over the age 18 from all countries. But please be noted that depend on the project creating country, you maybe required to obtain a valid payment account through third party system (such as paypal, amazon payments,or similar others) in order to invest in a project at creators’ country.
    %p Supporters who offer all kinds of supports except money. There is no limits by age and country.
.col-sm-12.sm-top-buffer
  %h5#nav-what-is-not-allowed.mouse_pointer.content-block-header{:term => "what-is-not-allowed"}
    \> What is
    %u not
    allowed
  .content.content-block.col-sm-12{:term => "what-is-not-allowed"}
    %ol
      %li Creators cannot offer financial incentives or equity as a reward such as ownership, share of profits, repayment/loans, cash-value equivalents, or precious metals etc.
      %li Creators cannot fail to full-fill the reward commitment which he/she has promised within the timeline.
      %li Bullcentury cannot be used to raise money for any purposes related to personal finance, personal life improvement or ‘fund my/his/her life’ projects such as tuition or bills.
      %li Bullcentury cannot be used to raise money for terrorism group, terrorism activities, and any criminal activities in all countries.
      %li Bullcentury cannot be used to raise money for any projects that could cost potential harms to earth, environment, climate and health of humans.
      %li Bullcentury cannot be used to raise money for suicidal adventure, life threatening, or self-life-risk projects.
      %li Bullcentury cannot be used to fund software, publication, media and innovative project that not run by the developer, producer or founder themselves.
      %li Project cannot resell items not produced by the project or its creator.
      %li Project cannot offer alcohol, tobacco, drugs, sexual content in any kind as a reward.
      %li Project cannot offer live stocks, live tissues or genetically modified organisms as a reward.
      %li No business, financial, health, medical, emotional advice.
      %li No sex/seduction, prostitution, marriage agency or other self-help advice.
      %li No tobacco, drugs, and drug paraphernalia; energy food and drinks; or nutritional supplements.
      %li No pornographic; opposing or endorsing a celebrity or political candidates.
      %li No offensive material, bullying and hate speech etc.
      %li No contests, raffles, coupons, gambling, or lifetime memberships.
      %li No bath, beauty, cosmetic products, and medical treatment products.
      %li No security surveillance equipment, military equipment, hacking equipment and hacking softwares.
      %li No firearms, weapons, ammunitions, knives, weapon accessories, weapon assembly parts and components, replicas of weapons, or sport weapons and weaponry equipments.
      %li No medical, health, safety, and personal care products, or informercial-type products.
      %li No political sensitive material or highly classified information based on local law in different countries.