<%= render partial: 'university_banner' %>

<h1>BC УНИВЕРСИТЕТ</h1>

<!-- Nav tabs -->
<%= render partial: 'university_nav' %>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="intro">
    <h2>Что такое BC Университет</h2>
    <p>BC Университет специально разработан для того чтоб помочь тебе стать успешнее:</p>
    <ol>
      <li>Лучше для себя понять функциональность BullCentury</li>
      <li>Как создать проект привлекательным для инвесторов</li>
      <li>Как привлечь больше денег к проекту</li>
    </ol>
    <p>Это информационный ресурс, где ты всегда найдешь детальные инструкции и полезные советы. Основные функции, которые предоставляет BC Университет:</p>
    <table class="table table-bordered table-hover">
      <tr>
        <td>
          1. Видео класс
        </td>
        <td>
          Здесь ты найдешь ответы на все: «Как это сделать?» вопросы 
        </td>
      </tr>
      <tr>
        <td>
          2. Текст
        </td>
        <td>
          Пошаговая инструкция на каждом из этапов 
        </td>
      </tr>
      <tr>
        <td>
          3. Консультант
        </td>
        <td>
          Поможет тебе стать лучше в таких вопросах как:
          <ul>
            <li>Создать проект лучшим</li>
            <li>Сделать лучшее промо для проекта</li>
            <li>Как снять лучшее видео</li>
          </ul>
        </td>
      <tr>
    </table>
    <p><strong>БУДУЩЕЕ</strong> -  BULLCENTURY продолжает развиваться. Будущий ВС университет предстанет в виде  Интеллектуального ресурса. И будет включать в себя аналитические проекты, статистический дата центр, пресс центр, а так же социальную платформу - где ты всегда сможешь встретить новых друзей и обменяться опытом.</p>
  </div>
  <div class="tab-pane" id="level_1">
    <h2>УРОВЕНЬ I: ОСНОВА<h2>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.header').click(function(){
          term = $(this).attr('term');
          //$(this).addClass('blue');
          //alert(term_text);
          $('.content').each(function(){    
            if ($(this).attr('term') == term){        
              if ($(this).css('display') == 'none'){
                $(this).css('display','inline-block');
              }          
              else {
                $(this).css('display','none');
              }      
                          
            }
          });
        });
      });
    </script>
    <h3 class="header" term="rules">1. BC Rules</h3>
    <div class="content no_margin" term="rules">
      <% if I18n.locale == :ua %>
          <%= render partial: 'home/rules_ua' %>
      <% end %>

      <% if I18n.locale == :ru %>
          <%= render partial: 'home/rules_ru' %>
      <% end %>

      <% if I18n.locale == :en %>
          <%= render partial: 'home/rules_en' %>
      <% end %>

      <% if I18n.locale == :hu %>
          <%= render partial: 'home/rules_hu' %>
      <% end %>
    </div>
    <h3 class="header" term="fees">2. Порядок оплаты</h3>
    <div class="content" term="fees">
      <p>Coming Soon</p>
    </div>
    <h3 class="header" term="create_project">3. Создать проект</h3>
    <div class="content" term="create_project">
      <p>Coming Soon</p>
    </div>
    <h3 class="header" term="navigate">4. Как управлять домашней страницей </h3>
    <div class="content" term="navigate">
      <p>Начать пользоваться сайтом BULLCENTURY очень легко.<p>

      <h4 class="header" term="section_1">Секция 1</h4>
      <div class="content" term="section_1">
        <p>Все базовые функции сайта расположены  над основным баннером. Логотип, Быстрый старт, Строка поиска и Регистрация. Так же рядом вы увидите три языковых кнопки. Все что относиться к первой секции это своего рода шаблон. Не важно, на какой из страниц вы находитесь вверху каждой, вам всегда будут доступны эти функции.</p>
        <p>Кликнув  на <strong>Логотип</strong> вы вернетесь на домашнюю страницу</p>
        <p><strong>Строка Поиска</strong> поможет  быстро найти любую информацию. К примеру, за названием проекта, Логином или Ключевым словом.</p>
        <p><strong>Регистрация</strong> – здесь лишь одно  прямое значение.</p>
        <p><strong>Три кнопки: Поиск Проектов, Создать Проект, Информация</strong></p>
        <p>Проект –  Поиск всех Проектов</p>
        <p>Создать Проект-  Создай свой собственный проект</p>
        <p>Информация – Быстрый Старт, ВС Университет и Информационный Центр</p>
        <p><strong>Быстрый старт</strong> – предоставляет всю базовую информацию, которую тебе необходимо знать перед началом проекта. Такую как правила BC, что такое  «краудфандинг» на BC, Как это работает? и так далее…</p>
        <p><strong>BC Университет</strong> - это практический  совет, который поможет тебе во время и после создания проекта.</p>
        <p><strong>Информационный центр</strong> - даст ответы на любые вопросы, в любое время.</p>
        <p><strong>Языки</strong> - Ты всегда можешь сменить язык  из личных предпочтений.</p>
      </div>
      
      <h4 class="header" term="section_2">Секция 2</h4>
      <div class="content" term="section_2">
        <p>Кликнув на любой из баннеров, которые находятся на домашней странице (они Вам предоставлены в виде слайд шоу). Вы сможете перейти на определенную категорию проекта.</p>
      </div>

      <h4 class="header" term="section_3">Секция 3</h4>
      <div class="content" term="section_3">
        <p>Девять смарт кнопок – специально разработаны Bullcentury. Функция тач скрин упрощает задачу, как для создателей, так и инвесторов. Для регистрации  или создания проекта, не обязательно иметь под рукой компьютер, все можно сделать  со своего смарт дивайса. Прямо с планшета или смартфона, ты можешь редактировать текст и видео, а так же загружать музыку или  фото.</p>
        <p>КНОПКИ:<p>
        <table class="table table-bordered table-hover">
          <tr>
            <td>
              Поиск
            </td>
            <td>
              Поиск всех проектов в разных категориях 
            </td>
          </tr>
          <tr>
            <td>
              Старт
            </td>
            <td>
              Вход на страницу создания проекта
            </td>
          </tr>
          <tr>
            <td>
              Университет
            </td>
            <td>
              Детальный образовательный контент Bullcentury
            </td>
          </tr>
          <tr>
            <td>
              Искусство
            </td>
            <td>
              Ищи проекты имеющие отношение к искусству: рисование, литература танцы и многое другое…
            </td>
          </tr>
          <tr>
            <td>
              Медиа
            </td>
            <td>
              Ищи проекты в разделе медиа: музыка, фильмы фотографии и многое другое
            </td>
          </tr>
          <tr>
            <td>
              Отдых
            </td>
            <td>
              Ищи проекты имеющие отношение к отдыху: путешествия, кухня хобби и многое другое…
            </td>
          </tr>
          <tr>
            <td>
              Инновации
            </td>
            <td>
              Ищи проекты имеющие отношение к инновациям: продукция, дизайн, технологии и многое другое…
            </td>
          </tr>
          <tr>
            <td>
              Социальное
            </td>
            <td>
              Ищи  все социальные проекты: сообщества, благотворительность, окружающая среда и многое другое..
            </td>
          </tr>
          <tr>
            <td>
              Сумасшествие
            </td>
            <td>
              Ищи все сумасшедшие проекты: таланты, впечатляюще впервые делаю и многое другое...
            </td>
          </tr>
        </table>
        <p>6 проектных кнопок (основные категории): Искусство, Медиа, Отдых, Инновации, Социальное,  и Сумасшествие. Каждая из основных  категорий  имеет более детальную под категорию. К примеру, кликнув на категорию СЩЦИАЛЬНОЕ, ты найдешь такие подкатегории как: Сообщество, Благотворительность, Окружающая среда. Такая же система и во всех остальных  категориях.</p>
      </div>

      <h4 class="header" term="section_4">Секция 4</h4>
      <div class="content" term="section_4">
        <p>Миниатюра проекта, это визитки проектов, которые вы сможете найти на домашней странице, в разделах Популярные и Успешные. Каждый из проектных миниатюр включает следующую информацию: цель, количество дней на проект, дата окончания проекта, количество собранных средств. Кликнув на миниатюру, вы перейдете на сам проект.</p>
      </div>

      <h4 class="header" term="section_5">Секция 5</h4>
      <div class="content" term="section_5">
        <p>Фут меню, внизу домашней страницы открывает доступ к ключевым страницам сайта. Таким как ( FAQ), поиск ключевых проектных категорий, и много другой полезной информации.</p>
        <ol>
        <p>Застрял, на каком либо этапе? Наши, 4 способа помощь\поддержка помогут тебе в дальнейшем</p>
        <ol>
          <li>Видео инструкция – просмотри наш видео класс</li>
          <li>Информационный центр – получи ответ, пересмотрев популярные вопросы</li>
        </ol>

        <p>Свяжись с нами:</p>

        <ol start="3">
          <li>Сообщения  - Отправь мгновенное сообщение или имейл со своим вопросом (Получи ответ сразу же или на протяжении 24 часов)</li>
          <li>Телефон - свяжись со службой поддержка клиентов (На протяжении рабочего дня)</li>
        </ol>
      </div>
    </div>

    <h3 class="header" term="create_video">5. Создать  Видеоролик для Проекта</h3>
    <div class="content" term="create_video">
      <h4 class="header" term="without_video">Без Видеоролика?</h4>
      <div class="content" term="without_video">
        <p>Для достижения успеха видеоролик проекта играет жизненно важную роль. Обычно проекты, на которые снято видео намного успешнее(59% с видео) нежели без него. (32%). Поэтому мы советуем снимать видео на проект. Позже Вы поймете  что  это того стоило!</p>
        <p>Но если по каким либо причинам вы все-таки решили не снимать видео, пустое окно будет автоматически заменено фотографией вашего проекта. Так Ваш проект будет выглядеть презентабельным и интересным.</p>
      </div>
      <h4 class="header" term="video_format">Видео Формат</h4>
      <div class="content" term="video_format">
        <ul>
          <li>mp4. mow. flv. mpg. webm. avi. ogv.  –  рекомендуются для обеспечения лучшего качества</li>
          <li>Кроме предоставленного списка BULLCENTURY  принимает и поддерживает любые другие форматы видео. Качество видео зависит от многих факторов среди них, операционная система, программное обеспечение, качество устройства из которого выполняется загрузка и многое другое...</li>
        </ul>
      </div>
      <h4 class="header" term="video_size">Размер Видео</h4>
      <div class="content" term="video_size">
        <p>5 GB один видеоролик</p>
      </div>
      <h4 class="header" term="device_i_need">Какое оборудование мне необходимо для видео сьемки?</h4>
      <div class="content" term="device_i_need">
        <p>Ты можешь снимать и загружать видео прямо со своего планшета, смартфона, видеокамеры или компьютера. Неважно  твое оборудование профессиональное или наоборот, дорогое или дешевое, простое или продвинутое в использовании.</p>
      </div>
      <h4 class="header" term="shooting_by_smartphone">Сьемка Видео из Смартфона или Планшета?</h4>
      <div class="content" term="shooting_by_smartphone">
        <p>Bullcentury, поддерживает и загружает видео, прямо с твоего смартфона, планшета и всех других видео устройств. Главное не забудьте держать свое устройство горизонтально при сьемке. Так финальный вариант поместиться на экране проекта в нормальном виде  и широком формате.</p>
      </div>
      <h4 class="header" term="video_experience">Нужен ли мне профессиональный оператор или опыт в видеосъёмке?</h4>
      <div class="content" term="video_experience">
        </p>Нет, опыт в видео продакшене не обязателен. Не стесняйтесь выразить себя на камеру. Аматорское видео может бить таким же интересным, как и профессиональное, если ты будешь следовать нашим советам:</p>
        <ol>
          <li>Будь собой, будь честным и открытым</li>
          <li>Очень детально опиши свой проект</li>
          <li>Ты можешь максимизировать качество видео, используя дополнительное оборудование в меру своих возможностей. Это может бить профессиональный свет, звук и так далее</li>
        </ol>
      </div>
      <h4 class="header" term="video_content">Видео Контент</h4>
      <div class="content" term="video_content">
        <p>Чтобы впечатлить зрителя своим видео ты можешь использовать всю креативность и обаяние. Но для настоящего успеха мы  рекомендуем следовать нашим советам:</p>
        <ul>
          <li>Представь себя и свой Проект</li>
          <li>Расскажи историю, скрывающуюся за проектом (мотивация, личные чувства, откуда пришла идея и так далее)</li>
          <li>Попроси поддержать свою мечту. Четко установи, какой вид помощи тебе нужен</li>
          <li>Объясни всем, почему тебе нужна поддержка и деньги</li>
          <li>Расскажи, что ты планируешь сделать и чего достичь с помощью инвестиций</li>
          <li>Детально опиши свое вознаграждение для инвесторов. Сделай его по максимуму привлекательным. ( Можно использовать дополнительные картинки)</li>
          <li>Напомни о своих параметрах. Цель, время на проекта. Что если цель не будет достигнута...</li>
          <li>В конце не забудь выразить  благодарность</li>
        </ul>
      </div>
      <h4 class="header" term="better_video">Чем креативнее видео, тем больше успех?</h4>
      <div class="content" term="better_video">
        <P>Да, креативное видео поможет тебе поднять популярность и сделать проект привлекательным. Поэтому если у тебя есть возможность создать видео более профессиональным, это того стоит.</P>
        <P>За более детальной информацией:</P>
        <P>Как снять лучшее видео для проекта (ВС Университет Lavel II: ЛУЧШЕЕ видео для проекта)</P>
        <P>ВС Медиа Студия (ВС Профессиональная помощь)</P>
      </div>
      <h4 class="header" term="do_not_do_this">Этого лучше <u>не</u> делать при сьемке видео </h4>
      <div class="content" term="do_not_do_this">
        <p>Не используй   в своем видео несанкционированную музыку, анимацию и  изображения. Позже могут возникнуть проблемы в виде больших штрафов и даже  судебных исков из за авторских прав.</p>
        <p>Для скачивания музыки, изображений, видео ресурсов мы рекомендуем следующие ресурсы:</p>
        <p>Coming Soon</p>
      </div>
    </div>

    <h3 class="header" term="create_reward">6. Создать Вознаграждение</h3>
    <div class="content" term="create_reward">
      <p>Создать вознаграждение-  это еще один важный пункт, который влияет на конечный успех. Проекты, которые предлагают нереальные, скучные, с завышенной ценой  вознаграждения обычно не привлекают поддержки. Стоящее вознаграждение должно бить креативным, значимым и справедливо оценённым.</p>
      <h4 class="header" term="the-common-reward-offers">Какие самые распространенные вознаграждения?</h4>
      <div class="content" term="the-common-reward-offers">
        <strong>1. Материальные продукты</strong>
        <p>Новые продукты, которые били, созданы твоим проектом</p>
        <p>Примеры: новые инновационные продукты, первый СD альбом, DVD, билеты на шоу</p>

        <strong>2. Креативные вовлечения</strong>
        <p>Завлеки людей в процесс создания проекта</p>
        <p>Примеры: предложить сыграть роль в своем кино, предложить стать моделью для авторского фото альбома, нарисовать лица сторонников на всех Футболках, предложить стать моделью в модном шоу</p>

        <strong>3. Креативный опыт</strong>
        <p>Пригласи своих сторонников пережить вместе создание проекта</p>
        <p>Примеры: Бесплатный ночной тур: полет на моем новом воздушном шаре, пригласить всех на свой концерт, пригласить детей сторонников испытать новое кресло качалку на детской площадки.</p>

        <strong>4. Значимые сувениры</strong>
        <p>Предложи, что ни будь  значимое на память или подари радостный момент</p>
        <p>Примеры: открытка с лицами всей команды на вершине Эвереста, фотография спасенного дельфина.</p>
      </div>
      <h4 class="header" term="price-a-reward">Как оценить награду</h4>
      <div class="content" term="price-a-reward">
        <ul>
          <li>Предложить, что ни будь реально имеющее значение –  попробуй первым в мире, ограниченное количество и так далее...</li>
          <li>Предложи реальную цену или  ближе к стоимости производства – Будь креативным, но ответственным. «Развод» будет стоить необратимому падению доверия к проекту.</li>
        </ul>
        <p><strong>Справка и Ключевые показатели</strong> (Найди более 50 сайтов по «краудфандингу» в разных регионах мира)</p>
        <p><i>NOTE: Экономическое положение, а так же инвестиционная среда очень отличаются в каждой из стран. Результаты поиска могут быть не точными. Специально для пользователей ВС периодически будет обновлять самые точные результаты.</i></p>
        <table class="table table-bordered table-hover">
          <tr>
            <td>
              Самые популярные минимальные вознаграждения (Создателями)
            </td>
            <td>
              10USD
            </td>
          </tr>
          <tr>
            <td>
              Самые популярные максимальные вознаграждения (Создателями)
            </td>
            <td>
              70USD
            </td>
          </tr>
          <tr>
            <td>
              Самая популярная сумма вклада (сторонниками)
            </td>
            <td>
              20USD
            </td>
          </tr>
          <tr>
            <td>
              Средняя сума вклада (сторонниками)
            </td>
            <td>
              68USD
            </td>
          </tr>
        </table>
        <strong>Процент успешности</strong>
        <table class="table table-bordered table-hover">
          <tr>
            <td>
              Без Вознаграждения:
            </td>
            <td>
              21%
            </td>
          </tr>
          <tr>
            <td>
              С Вознаграждениями:
            </td>
            <td>
              35% ( если награда стоит в пределах 20$)<br>47% ( если награда стоит в пределах 20 $)
            </td>
          </tr>
        </table>
      </div>
    </div>
    
    <h3 class="header" term="promote">7. Продвинуть свой проект</h3>
    <div class="content" term="promote">
      <p><strong>Базовые шаги I:</strong> Люди должны знать о твоем проекте. Это означает, что ты должен о нем заявить. И не раз! Не бойся поделиться своей идеей. Обсуди свой проект с окружающими тебя людьми. Только самые исключительные проекты массово привлекают сторонников и инвесторов по всему миру. Для большинства поддержка все таки исходит из личного круга знакомств.</p>
      <p><strong>Базовые шаги II:</strong> Расскажи о своем проекте в социальных сетях. Пусть друзья помогут распространить твою идею массово.</p>
      <p><strong>Больше о том как эффективнее продвинуть свой проект ( Lavel II: Лучшее Промо)</strong></p>
    </div>
    
    <h3 class="header" term="receive_and_send">8. Получить и Отправить деньги</h3>
    <div class="content" term="receive_and_send">
      <p>Coming Soon</p>
    </div>

    <h3 class="header" term="more_questions">9. Больше вопросов или идей?</h3>
    <div class="content" term="more_questions">
      <ul>
        <li>Помогли ли тебе наши статьи? Ответили на интересующие тебя вопросы?</li>
        <li>Есть идеи получше, пожалуйста, сообща нам.</li>
        <li>Если у тебя есть больше вопросов, наша команда готова на них ответить.</li>
      </ul>
      <a href="mailto:info@bullcentury.com">Отправь имейл на ВС Поддержку</a>
    </div>
  </div>
  <div class="tab-pane" id="level_2">
    <h2>УРОВЕНЬ II: КАК СТАТЬ ЛУЧШЕ</h2> 
    <!--<ol>
      <li>Как правильно определить проект – Сделать его  значимым для инвесторов</li>
      <li>Как создать проект, лучшим - Какой контент сделает Ваш проект  боле привлекательным</li>
      <li>Параметры (количество дней на проект, минимальная сумма взноса) </li>
      <li>Как снять лучшее видео для проекта </li>
      <li>Как создать лучшее вознаграждение</li>
      <li>Как сделать лучшее промо</li>
      <li>Есть еще вопросы или идеи?</li>
    </ol>-->

    <h3 class="header" term="how-right-determine-project">КАК ПРАВИЛЬНО ОПРЕДЕЛИТЬ ПРОЕКТ - сделать его значимым для инвесторов</h3>
    <div class="content" term="how-right-determine-project">
      <p>Здесь нет сложной науки. Достаточно бить собой, искренним и открытым. Три этих фактора уже сделают твой проект намного интереснее. Но можешь ли ты сделать проект еще лучше? Ответ - Да, можешь:</p>
      <ol>
        <li>Расскажи о  реальных причинах, которые скрываются за проектом. Мотивация идея или история, что именно натолкнуло тебя на этот шаг? Это увеличит кредитоспособность проекта, и усилит доверие сторонников.</li>
        <li>Четко установи,  что ты собираешься делать и чего собираешься достичь на деньги  инвесторов? Сторонники инвестируют в тебя, чтобы увидеть результат. Детально опиши  –  Как проект будет выглядеть в конечном итоге.</li>
        <li>Способность - Исполнителя. Помимо того насколько удивительный твой продукт или идея, инвесторам и сторонникам важно знать можешь ли  ты воплотить ее в реальность. Убеди своих сторонников, рассказав о том, как ты собираешься  управлять процессом от начала и до конца. А не просто о том какая у тебя есть идея.</li>
      </ol>
    </div>

    <h3 class="header" term="how-create-project-better">КАК СОЗДАТЬ ПРОЕКТ ЛУЧШИМ, - какой контент сделает Ваш проект более привлекательным</h3>
    <div class="content" term="how-create-project-better">
      <h4>1. Картинка Проекта</h4>
      <p>Используй одну или несколько картинок, для того чтобы сделать главную страницу проекта более привлекательной. Помни, что потенциальные инвесторы всегда смотрят на фото, и  не всегда читают  текст.</p>
      <h4>2. Короткий бриф </h4>
      <p>Сделай его минутной версией, а не часовой. Мини бриф будет расположен на миниатюре вашего проекта.  Постарайтесь сделать его максимально простым, прямым и интересным. Ведь от него зависит насколько популярным, станет ваш проект среди  инвесторов.</p>
      <h4>3. Видео и фото вознаграждение</h4>
      <p>Опиши свои будущие вознаграждения максимально детально. Создай дополнительные фото или видео своих вознаграждений, если в этом есть необходимость.</p>
      <h4>4. Время</h4>
      <p>Цель проекта, или предложения без четкой хронологии по времени - « когда это случиться», заставляют сомневаться  в ваших способностях. Обязательно  оговаривайте в своем проекте, время на цель, прогресс, и доставку вознаграждения.</p>
    </div>

    <h3 class="header" term="options">Параметры (количество дней на проект, минимальная сумма взноса)</h3>
    <div class="content" term="options">
      <p><strong>Поиск цели</strong></p>
      <p>Есть две самые распространенные ошибки: Слишком мало -  Средства били, собраны успешно, но позже оказывается, что денег не достаточно для окончания проекта.</p>
      <p>Слишком много -   финансовую цель установили слишком высоко, нереально достичь, или еще хуже, напугали людей.  Чтоб этого избежать, возьмите во внимание следующее:</p>
      <h4>1. ПОИСК</h4>
      <p>Перед, тем как писать, какие либо цифры, детально подготовьтесь. Изучите весь  процесс создания  проекта. Подумали ли Вы о непредвиденных ситуациях? Покрыли ли  всю стоимость продукции? Просчитали ли упаковки и стоимость доставки? Нужно ли Вам платить налог? Все маленькие детали должны бить просчитаны. Ответственное изучение ситуации предоставит  тебе четкую картинку о том, какой капитал тебе необходим для полного завершения проекта.</p>
      <h4>2. БУДЬ РЕАЛИСТИЧНЫМ И АНАЛИЗИРУЙ СВОЙ КРУГ ЗНАКОМСТВ </h4>
      <p>В большинстве случаев основная группа инвесторов приходит из круга твоих друзей, семьи, родственников, и социальных сетей. Но если твой проект чрезвычайно выделяется из толпы, вторичная группа, (это незнакомцы из интернета) придут и вложат деньги в твою идею. Какую сумму ты сможешь собрать, зависит от того как работает  стратегия в первую очередь на первую группу. Поэтому самый из безопасных способов получить инвестиции -  правильно определить потенциальную для себя группу.</p>
      <p><strong>Количество дней/Дата окончания/Крайний срок</strong></p>
      <p>Как определить какое количество дней тебе необходимо на сбор средств? В этом вопросе  не обязательно чем дольше, тем лучше. Исходя из правил ВС, время  проекта может занимать от 1 до 60 дней. Обычно те, кто берет 30 дней и  меньше более успешные и результативные. Слишком длинный период  финансирования может стоить неудачи. Сторонники/Инвесторы  решат, что твой проект не важен, не срочен и т.д. Они  не будут мотивированы выполнять оплату или просто подумают, что процесс слишком затянулся.</p>
      <p><strong>Минимальная сумма взноса</strong></p>
      <p>Исходя из статистики ВС, основанной  на 50 сайтах по краудфандингу в разных регионах мира:</p>
      <table class="table table-bordered table-hover">
        <tr>
          <td>
            Самая популярная сумма взноса (от сторонников)
          </td>
          <td>
            20  USD
          </td>
        </tr>
        <tr>
          <td>
            Средняя сума взноса (от сторонников)
          </td>
          <td>
            68 USD
          </td>
        <tr>
      </table>
      <p>Заметки: В каждой стране сильно отличаются экономическая, а так же инвестиционная среда. По этому результаты поиска могут бить не точными или  не подходящими. Для более корректной информации, ВС будет постоянно обновлять информацию.</p>
    </div>
  </div>
  <div class="tab-pane" id="video">Video...</div>
</div>