<%= render partial: 'university_banner' %>

<h1>BC УНІВЕРСИТЕТ</h1>

<!-- Nav tabs -->
<%= render partial: 'university_nav' %>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="intro">
    <h2>Що таке ВС Університет</h2>
    <p>ВС Університет спеціально створено для того щоб допомогти тоді стати кращим:</p>
    <ol>
      <li>Краще для себе зрозуміти функціональність BullCentury</li>
      <li>Створити проект більш привабливим для інвесторів</li>
      <li>Як залучити більше коштів до проекту</li>
    </ol>
    <p>Це інформаційний ресурс на якому ти завжди знайдеш для себе детальні інструкції та корисні поради. Основні функції які пропонує ВС Університет:</p>
    <table class="table table-bordered table-hover">
      <tr>
        <td>
          Відео Клас
        </td>
        <td>
          Тут ти знайдеш відповіді на всі «Як це зробити?» питання
        </td>
      </tr>
      <tr>
        <td>
          Текстова Інструкція
        </td>
        <td>
          Дуже детальна інструкція на кожному із етапів
        </td>
      </tr>
      <tr>
        <td>
          Консультант
        </td>
        <td>
          Допоможе стати кращим в таких питання як: Створити проект кращим, Найкраще промо для проекту, Як креативно відзняти відео
        </td>
      </tr>
    </table>
    <p><strong>МАЙБУТНЄ</strong> - BULLCENTURY постійно розвивається.  В майбутньому ВС Університет трансформується у  Центральний Інтелектуальний ресурс. І  включатиме  аналітичні проекти, статистичний дата центр, а також стане потужною соціальною платформою – де ти завжди зможеш  зустріти нових друзів та обмінятися досвідом.</p>
  </div>

  <div class="tab-pane" id="level_1">
    <h2>РIВЕНЬ I: ОСНОВА</h2>
    
    <script type="text/javascript">
      $(document).ready(function(){
        $('.header').click(function(){
          term = $(this).attr('term');
          //$(this).addClass('blue');
          //alert(term_text);
          $('.content').each(function(){    
            if ($(this).attr('term') == term){        
              if ($(this).css('display') == 'none'){
                $(this).css('display','inline-block');
              }          
              else {
                $(this).css('display','none');
              }      
                          
            }
          });
        });
      });
    </script>
    <h3 class="header" term="rules">1. BC Rules</h3>
    <div class="content no_margin" term="rules">
      <% if I18n.locale == :ua %>
          <%= render partial: 'home/rules_ua' %>
      <% end %>

      <% if I18n.locale == :ru %>
          <%= render partial: 'home/rules_ru' %>
      <% end %>

      <% if I18n.locale == :en %>
          <%= render partial: 'home/rules_en' %>
      <% end %>

      <% if I18n.locale == :hu %>
          <%= render partial: 'home/rules_hu' %>
      <% end %>
    </div>
    <h3 class="header" term="fees">2. Система оплати</h3>
    <div class="content" term="fees">
      <p>Coming Soon</p>
    </div>
    <h3 class="header" term="create_project">3. Створити проект</h3>
    <div class="content" term="create_project">
      <p>Coming Soon</p>
    </div>

    <h3 class="header" term="navigate">4. Як управляти домашньою сторінкою</h3>
    <div class="content" term="navigate">
      Управляти домашньою сторінкою BULLCENTURY не докладе Вам жодних зусиль.
      <h4 class="header" term="section_1">Секція 1</h4>
      <div class="content" term="section_1">
        <p>Всі базові функції сайту знаходяться над основним банером. Логотип, Швидкий старт, Пошукова Стрічка та Реєстрація. Також поруч розташована кнопка з допомогою якої ви можете змінити мову. Все, що відноситься до першої секції це свого роду шаблон. В майбутньому не важливо на якій із сторінок ви будете знаходитись . Вверху кожної вам завжди будуть доступні дані функції.</p>
        <p>Клік на <strong>Логотип</strong> завжди поверне Вас на домашню сторінку </p>
        <p><strong>Пошукова Стрічка</strong> допоможе швидко знайти будь яку інформацію. Для прикладу за назвою проекту, логіном або ключовим словом.</p>
        <p><strong>Реєстрація</strong> – має лише одне пряме значення </p>
        <p><strong>Три кнопки: Пошук Проектів, Створити проект, Інформація</strong></p>
        <p><strong>Проект</strong> –  Пошук всіх Проектів</p>
        <p><strong>Створити Проект</strong> - Створи свій власний проект</p>
        <p><strong>Інформація</strong> –  Швидкий старт, ВС Університет та Інформаційний центр</p>

        <p><strong>Швидкий Старт</strong> – містить всю базову інформацію, яку тобі необхідно знати перед початком проекту. Таку як правила ВС, що таке «краудфандінг» на ВС, Як це працює? І так далі...</p>
        <p><strong>BC Університет</strong> – дасть практичні поради, які стануть тобі у нагоді до та після створення проекту.</p>
        <p><strong>Інформаційний центр</strong> - дасть відповіді на будь які питання, в будь який час</p>
      </div>
      <h4 class="header" term="section_2">Секція 2</h4>
      <div class="content" term="section_2">
        <p>Клік на будь який із банерів на домашній сторінці (вони представлені  у вигляді слайд шоу). Ви зможете перейти на відповідну категорію проекту.</p>
      </div>
      <h4 class="header" term="section_3">Секція 3</h4>
      <div class="content" term="section_3">
        <p>Дев’ять  смарт кнопок –  були спеціально створені Bullcentury. Тепер для реєстрації або створення проекту більше не обов’язково мати під рукою комп’ютер. Функція тач скрін дозволяє редагувати текст та відео, а також завантажувати музику та фото, прямо з планшету або смартфону.</p>
        <p>КНОПКИ:</p>
        <table class="table table-bordered table-hover">
          <tr>
            <td>
              Пошук
            </td>
            <td>
              Пошук всіх проектів в різних категоріях
            </td>
            <td>

            </td>
          </tr> 
          <tr>
            <td>
              Старт
            </td>
            <td>
              Вхід на сторінку створення проекту
            </td>
            <td>

            </td>
          </tr>
          <tr>
            <td>
              Університет
            </td>
            <td>
              Детальний контент  Bullcentury з освітньою метою
            </td>
            <td>
            
            </td>
          </tr>
          <tr>
            <td>
              Мистецтво
            </td>
            <td>
              Шукай всі проекти, які мають відношення до мистецтва
            </td>
            <td>
              малювання,література,танці та багато іншого.. 
            </td>
          </tr>
          <tr>
            <td>
              Медіа
            </td>
            <td>
              Шукай всі  проекти в розділі медіа
            </td>
            <td>
              музика,кіно, фотографії, та багато іншого...
            </td>
          </tr>
          <tr>
            <td>
              Відпочинок
            </td>
            <td>
              Шукай всі проекти які мають відношення до відпочинку
            </td>
            <td>
              подорожі,кухня,хобі та багато іншого...
            </td>
          </tr>
          <tr>
            <td>
              Інновації
            </td>
            <td>
              Шукай проекти які мають відношення до інновацій
            </td>
            <td>
              продукція, дизайн,технології і багато іншого...
            </td>
          </tr>
          <tr>
            <td>
              Соціальне
            </td>
            <td>
              Шукай всі соціальні проекти
            </td>
            <td> 
              організації, благодійність,навколишнє середовище і багато іншого...
            </td>
          </tr>
          <tr>
            <td>
              Божевілля
            </td>
            <td>
              Шукай всі божевільні проекти
            </td>
            <td>
              таланти,  вражаюче, вперше роблю, і багато іншого...
            </td>
          </tr>
        </table>

        <p>6 проектних кнопок (основні категорії): Мистецтво, Медіа, Відпочинок, Інновації, Соціальне та  Божевілля. Кожна із основних категорій, має більш детальну під категорію. Для прикладу клікнувши на кнопку СОЦІАЛЬНЕ, ти знайдеш такі під категорії як: Організації,Благодійність, Навколишнє середовище і т. д . Така ж система  стосується решти категорій.</p>
      </div>
      <h4 class="header" term="section_4">Секція 4</h4>
      <div class="content" term="section_4">
        <p>Мініатюра проекту, це своєрідні  візитки проектів. Їх ви можете знайти на домашній сторінці у розділах Популярні та Успішні. Кожна із проектних мініатюр включає наступну інформацію: Ціль, Кількість днів на проект, Дата закінчення проекту, Кількість зібраних коштів. Клікнувши на мініатюру, ви зможете перейти на сам проект.</p>
      </div>
      <h4 class="header" term="section_5">Секція 5</h4>
      <div class="content" term="section_5">
        <p>Фут меню, внизу домашньої сторінки відкриває доступ до ключових сторінок на сайті. Таких, як ( FAQ), пошук ключових проектних категорій, та багато іншої корисної інформації.<p>
        <p><strong>Застряг, на якомусь із етапів? Наші, 4 способи підтримки допоможуть тобі в майбутньому</strong></p>
        <ol>
          <li>Відео інструкція – переглянь  наш відео клас</li>
          <li>Інформаційний центр – отримай відповіді, переглянувши популярні питання</li>
        </ol>
        Зв’яжись з нами:
        <ol start="3">
          <li>Повідомлення  - Відправляй миттєві повідомлення на імейл із своїми запитаннями (Отримай відповідь одразу або протягом 24 годин)</li>
          <li>Телефон – зв’яжись із службою підтримки клієнтів (Протягом робочого дня)</li>
        </ol>
      </div>
    </div>

    <h3 class="header" term="create_video">5. Створити відео для проекту</h3>
    <div class="content" term="create_video">
      <h4 class="header" term="without_video">Без відеоролика?</h4>
      <div class="content" term="without_video">
        <p>Хочеш досягнути успіху?  Відеоролик  проекту відіграє життєво важливу роль, в цьому питанні. Зазвичай проекти які мають відео, на 59% успішніші. Саме тому ми рекомендуємо знімати відео на свій проект. Пізніше Ви зрозумієте, що це того варте!</p>
        <p>Але,якщо з будь яких причин Ви вирішили відео не знімати, пусте віконце буде автоматично замінене фотографією вашого проекту. В такому випадку, ваше творіння буде виглядати більш презентабельним та цікавим.</p>
      </div>
      <h4 class="header" term="video_format">Відео формат</h4>
      <div class="content" term="video_format">
        <ul> 
          <li>mp4,mow,flv,mpg,webm,avi,ogv - рекомендуються для забезпечення кращої якості відео</li>
          <li>Окрім запропонованого списку BULLCENTURY підтримує будь які інші формати відео. Якість залежить від багатьох факторів серед них: операційна система, програмне забезпечення, якість пристрою з якого було виконано завантаження та інше...</li>
        </ul>
      </div>
      <h4 class="header" term="video_size">Розмір Відео</h4>
      <div class="content" term="video_size">
        <p>5 GB один відеоролик</p>
      </div>
      <h4 class="header" term="device_i_need">Яке обладнання необхідно мати для відео зйомки?</h4>
      <div class="content" term="device_i_need">
        <p>Ти можеш знімати та завантажувати відео прямо із свого планшету, смартфону, відеокамери або комп’ютера. Не має значення, твоє обладнання професійне чи навпаки, дороге чи дешеве, звичайне чи передове у використанні.</p>
      </div>
      <h4 class="header" term="shooting_by_smartphone">Зйомки відео із Смартфону або Планшету</h4>
      <div class="content" term="shooting_by_smartphone">
        <p>Bullcentury,  підтримує та завантажує відео просто із твого смартфону, планшету а також усіх інших відео пристроїв. Головне не забудьте тримати свій пристрій, горизонтально під час зйомки. В такому випадку фінальний варіант поміститься на екрані проекту в нормальному вигляді і широкому форматі.</p>
      </div>
      <h4 class="header" term="video_experience">Чи потрібен мені професійний оператор, або досвід у відео зйомці?</h4>
      <div class="content" term="video_experience">
        <p>Ні, досвід у відео продакшені не обов’язковий. Аматорське відео може бути так само цікавим, як і професійне. Якщо ти будеш слідувати нашим порадам:</p>
        <ol>
          <li>Будь собою, будь чесним та відкритим</li>
          <li>Спробуй описати свій проект дуже детально</li>
          <li>Ти можеш максимізувати якість відео з допомогою додаткового обладнання. Звісно в міру своїх можливостей.  Це може бути професійне світло, звук і так далі...</li>
        </ol>
      </div>
      <h4 class="header" term="video_content">Відео контент</h4>
      <div class="content" term="video_content">  
        <p>Для того щоб вразити глядача ти можеш використовувати всю свою креативність та чарівність. Однак для справжнього успіху ми рекомендуємо слідувати нашим порадам:</p>
        <ul>
          <li>Відрекомендуй себе та свій проект</li>
          <li>Розкажи справжню історію яка ховається за проектом ( мотивація,особисті почуття,звідки прийшла ідея і так далі)</li>
          <li>Попроси підтримати свою мрію. Чітко встанови, якої саме підтримки ти потребуєш</li>
          <li>Поясни всім, чому саме тобі необхідна підтримка та гроші</li>
          <li>Розкажи, що ти плануєш зробити і чого досягти з допомогою інвестицій </li>
          <li>Детально опиши свою винагороду для інвесторів. Зроби її максимально привабливою.( Можна використовувати додаткові зображення)</li>
          <li>Нагадай про свої параметри. Ціль, проміжок часу на проект. Що буде якщо ціль не стане досягнутою...</li>
          <li>В кінці не забудь подякувати</li>
        </ul>
      </div>
      <h4 class="header" term="better_video">Краще відео, більше шансів на успіх?</h4>
      <div class="content" term="better_video">
        <p>Так, креативне відео допоможе тобі підняти свою популярність та зробити проект більш привабливим. Тому, якщо в тебе є можливість створити відео більш професійним, це того варте.</p>
        <p>За більш детальною інформацією:</p>
        <p>Як відзняти найкраще відео для проекту (ВС Університет Lavel II: КРАЩЕ відео для проекту)</p>
        <p>ВС Медіа Студія  (ВС Професійна Допомога)</p>
      </div>
      <h4 class="header" term="do_not_do_this">Цього краще <u>не</u> робити у своєму відео</h4>
      <div class="content" term="do_not_do_this">    
        <p>Не використовуй у своєму відео несанкціоновану музику, анімацію та зображення. Пізніше можуть виникнути проблеми у вигляді великих штрафів або навіть позовів до суду через авторські права.</p>
        <p>Для завантаження музики, зображень та відео, ми рекомендуємо наступні ресурси:</p>
        <p>Coming Soon</p>
      </div>
    </div>

    <h3 class="header" term="create_reward">6. Створити Винагороду</h3>
    <div class="content" term="create_reward">
      <p>Створення винагороди – ще один важливий пункт, який впливає на фінальний успіх. Проекти, які пропонують нереальні, нудні або з завищеною ціною винагороди, в майбутньому не залучаються підтримкою. Успішна винагорода повинна бути креативною, значимою та справедливо оціненою.</p>
      <h4 class="header" term="the-common-reward-offers">Самі популярні винагороди</h4>
      <div class="content" term="the-common-reward-offers">
        <strong>1.Матеріальні продукти</strong> 
        <p>Нові продукти які були створені твоїм проектом.</p>
        <p>Для прикладу: нові інноваційні продукти, перший СD альбом, DVD, квитки на шоу</p>
        <strong>2.Креативні залучення</strong>
        <p>Залучай людей в процес створення проекту</p>
        <p>Для прикладу: запропонуй зіграти роль у своєму кіно, запропонуй стати моделлю для  свого авторського фото альбому, намалюй обличчя  прихильників на всіх футболках, запропонуй стати моделлю в своєму модному шоу </p>
        <strong>3.Творчий досвід</strong>
        <p>Запрошуй своїх прихильників разом пережити створення проекту</p>
        <p>Для прикладу: Безкоштовний нічний тур:політ на моїй новій повітряній кулі, запроси всіх на свій концерт, запроси дітей прихильників випробувати нове крісло качалку на дитячому майданчику. </p>
        <strong>4.Значимі сувеніри</strong>
        <p>Запропонуй щось значиме на пам'ять, або подаруй щасливий момент</p>
        <p>Для прикладу: листівка з обличчями команди на вершині Евересту, фотографія врятованого дельфіна.</p>
      </div>
      <h4 class="header" term="price-a-reward">Як оцінити винагороду</h4>
      <div class="content" term="price-a-reward">
        <ul>
          <li>Запропонуй річ яка реально має значення – спробуй першим у світі, кількість обмежена і так далі...</li>
          <li>Запропонуй реальну ціну або ближче до ціни виробництва – будь креативним, але відповідальним. Здирництво буде коштувати довіри до проекту.</li>
        </ul>
        <p><strong>Довідка та  Ключові Показники</strong> ( Знайди більше ніж 50 сайтів з «краудфандингу» в різних регіонах світу)</p>
        <p><i>ПРИМІТКА: В кожній країні економічна ситуація та інвестиційне середовище дуже відрізняються. Результати пошуку можуть бути не точними,або не підходити для всіх країн одночасно. Спеціально для зручності користувачів, ВС буде періодично оновлювати самі точні результати.</i></p>
        <table class="table table-bordered table-hover">
          <tr>
            <td>
              Самі популярні мінімальні винагороди (Творцями):
            </td>
            <td>
              10USD
            </td>
          </tr>
          <tr>
            <td>
              Самі популярні максимальні винагороди (Творцями):
            </td>
            <td>
              70USD
            </td>
          </tr>
          <tr>
            <td>
              Сама популярна сума вкладу ( Прихильниками):
            </td>
            <td>
              20USD
            </td>
          </tr>
          <tr>
            <td>
              Середня сума вкладу ( Прихильниками):
            </td>
            <td>
              68USD
            </td>
          </tr>
        </table>
        <strong>Процент Успішності</strong>
        <table class="table table-bordered table-hover">
          <tr>
            <td>
              Без винагороди:
            </td>
            <td>
              21%
            </td>
          </tr>
          <tr>
            <td>
              З винагородою:
            </td>
            <td>
              35% ( якщо винагорода в межах 20$)<br>47% (якщо винагорода в межах 20$)
            </td>
          </tr>
        </table>
      </div>
    </div>

    <h3 class="header" term="promote">7. Як сприяти своєму проекту</h3>
    <div class="content" term="promote">
      <p><strong>Базові кроки I</strong>: Люди повинні знати про твій проект. Це означає,що ти маєш про нього заявити. І не раз. Не бійся поділитись ідеєю з оточуючими. Обговори свій проект із знайомими. Лише виключні проекти масово залучаються прихильниками та інвесторами по всьому світі. В більшості випадків підтримка приходить із особистого кола знайомих.</p>
      <p><strong>Базові кроки II</strong>: Розкажи про свій проект в соціальних мережах. Нехай друзі допоможуть поширити  твою ідею масово.</p>
      <p>Більше про те, як створити найкраще промо (Lavel II: Найкраще Промо)</p>
    </div>

    <h3 class="header" term="receive_and_send">8. Отримати та Відправити кошти</h3>
    <div class="content" term="receive_and_send">
      <p>Coming Soon</p>
    </div>

    <h3 class="header" term="more_questions">9. Більше питань та ідей?</h3>
    <div class="content" term="more_questions">
      <ul>
        <li>Чи допомогли тобі наші статті? Чи відповіли на твої запитання?</li>
        <li>Якщо в тебе є кращі ідеї, дай нам знати.</li>
        <li>Якщо в тебе є більше запитань, наша команда готова на них відповісти.</li>
      </ul>
      <a href="mailto:info@bullcentury.com">Відправ лист на ВС Підтримку</a>
    </div>
  </div>

  <div class="tab-pane" id="level_2">
    <h2>РIВЕНЬ II: ЯК СТАТИ КРАЩИМ</h2> 
    
    <h3 class="header" term="how-right-determine-project">ЯК ПРАВИЛЬНО ВИЗНАЧИТИСЬ  З ПРОЕКТОМ -  зробити його цінним для інвесторів</h3>
    <div class="content" term="how-right-determine-project">
      <p>Тут немає нічого складного. Якщо ти будеш собою, чесним та відкритим це вже зробить твій проект особливим. Але чи можеш ти створити проект, ще кращим?  Відповідь – так, звісно можеш:</p>
      <ol>
        <li>Розкажи про реальні причини,які ховаються за проектом. Мотивація,ідея або історія. Що саме спонукало тебе на цей крок? Це збільшить кредитоспроможність проекту, а також завоює довіру прихильників.</li>
        <li>Чітко встанови, що ти збираєшся робити і чого збираєшся досягнути на гроші інвесторів? Прихильники інвестують в тебе заради результату. Детально опиши – Як проект виглядатиме в кінцевому результаті. </li>
        <li>Здібності - Виконавця. Не зважаючи, наскільки дивовижний твій продукт або ідея, для інвесторів або прихильників, важливо знати чи зможеш ти її реалізувати. Запевни своїх прихильників, розкажи, не лише про свою ідею. А й про те як ти збираєшся керувати процесом від початку і до кінця.</li>
      </ol>
    </div>

    <h3 class="header" term="how-create-project-better">ЯК СТВОРИТИ ПРОЕКТ КРАЩИМ - Яке наповнення зробить вашу «мрію» привабливішою</h3>
    <div class="content" term="how-create-project-better">
      <h4>1. Мініатюра проекту</h4>
      <p>Для того щоб зробити головну сторінку проекту цікавішою - використовуй одну або навіть   декілька мініатюр. Пам’ятай, що потенційні інвестори завжди дивляться на фото, і не завжди читають текст.</p>
      <h4>2. Короткий бриф</h4>
      <p>Створи його хвилинною версією, а не годинною. Міні бриф буде розташований на мініатюрі вашого проекту. Спробуйте зробити його максимально простим,прямим та цікавим. Адже саме від нього залежить наскільки популярним стане ваш проект серед інвесторів.</p>
      <h4>3.  Відео та фото винагорода</h4>
      <p>Опиши свої майбутні винагороди максимально детально. Створи додаткові фото та відео своїх винагород, якщо в цьому буде необхідність.</p>
      <h4>4. Час</h4>
      <p>Ціль проекту без чіткої  часової хронології –« коли це матиме місце», змушують сумніватись в ваших здібностях. Обов’язково чітко визначте у своєму проекті  час на прогрес, а також доставку винагороди.</p>
    </div>

    <h3 class="header" term="options">ПАРАМЕТРИ (кількість днів на проект, мінімальна сума внеску)</h3>
    <div class="content" term="options">
<p><strong>Пошук цілі</strong></p>
<p>Існує дві помилки: Дуже мало - Гроші були  успішно зібрані, але пізніше виявиться, що коштів не достатньо для повного закінчення проекту. Дуже багато – фінансову ціль встановили дуже високо,нереально досягнути, або іще гірше налякали людей. Для того щоб уникнути цих проблем зверніть увагу на наступне: </p>
<h4>1. ПОШУК</h4>
<p>Перед тим, як писати будь які цифри, детально підготуйтесь. Детально дослідіть весь процес створення проекту. Чи прорахували ви будь які непередбачувані ситуації? Чи покрили всю вартість продукції?Чи необхідно вам платити податки?Чи прорахували упаковки та ціну на доставку?Всі маленькі деталі повинні бути прораховані. Відповідальне вивчення ситуації дасть чітку картинку про те який капітал тобі необхідний для повного завершення проекту. </p>
<h4>2. БУДЬ РЕАЛІСТИЧНИМ І АНАЛІЗУЙ СВІЙ КРУГ ЗНАЙОМИХ</h4>
<p>В більшості випадків основна група інвесторів  приходить із кола твоїх друзів, родичів, та соціальних мереж. Тільки якщо твій проект дуже виділяється із натовпу, другорядна група незнайомці із Інтернету) прийдуть та про інвестують твою ідею. Яку суму ти можеш зібрати, залежить від того, як працює стратегія в першу чергу на першу групу. Тому самий безпечний спосіб отримати інвестиції - правильно визначитись із потенційною для себе групою.</p>
<p><strong>Кількість днів \ Дата закінчення \ Крайній срок</strong></p>
<p>Як визначити, яка кількість днів тобі необхідна для збору коштів? В цьому питанні не обов’язково чим довше, тим краще. Виходячи із правил ВС, час на проект може займати від 1 до 60 днів. Зазвичай ті хто бере 30 днів і менше, більш успішні та результативні. Занадто довгий період фінансування може коштувати невдачі. Прихильники \ Інвестори, можуть  вирішити, що твій проект не важливий і т.д. Вони не будуть мотивовані виконувати оплату, або просто подумають що процес занадто затягнувся.</p>
<p><strong>Мінімальна сума внеску</strong></p>
<p>Виходячи із статистики ВС, яка основується на 50 сайтах по краудфандінгу в різних регіонах світу:</p>
<table class="table table-bordered table-hover">
  <tr>
    <td>Сама популярна сума внеску ( від прихильників)</td>
    <td>20 USD</td>
  </tr>
  <tr>
    <td>Середня сума внеску ( від прихильників)</td>
    <td>50 USD</td>
  </tr>
</table>
<p>Особливі відмітки:  В кожній країні економічне та інвестиційне середовище дуже відрізняються. Тому результати можуть бути не точними або не підходящими. Для більш коректної інформації,ВС буде постійно обновляти інформацію.</p>
    </div>
  </div>
  <div class="tab-pane" id="video">Video...</div>
</div>