.col-sm-12.col-md-12.bottom-buffer-100
  .table-for-profile.table-blue
    %table
      %tr
        %td 
          = t('profile.main.reason')
        %td 
          = t('profile.main.refund_to')
        %td 
          = t('profile.main.amount')
        %td 
          = t('profile.main.currency')
        %td 
          = t('profile.main.account_to') 
        %td 
          = t('profile.main.refund')
      %tr
        %td
          Management Error REFUND
        %td.text-center
          James Huang
        %td.text-center
          10
        %td.text-center
          USD
        %td.text-center
          VISA: XXXXXXXX005
        %td.text-center
          In Process