= link_to('javascript:;') do
  = image_tag('social/vk_icon.png', height: '25')
= link_to('javascript:;') do
  = image_tag('social/facebook_icon.png', height: '25')
= link_to('javascript:;') do
  = image_tag('social/google+_icon.png', height: '25')
= link_to('javascript:;') do
  = image_tag('social/linkedin_icon.png', height: '25')
= link_to('javascript:;') do
  = image_tag('social/twitter_icon.png', height: '25')
= link_to('javascript:;') do
  = image_tag('social/youtube_icon.png', height: '25')
= link_to('javascript:;') do
  = image_tag('social/instagram_icon.png', height: '25')
= link_to('javascript:;') do
  = image_tag('social/vimeo_icon.png', height: '25')
= link_to('javascript:;') do
  = image_tag('social/vine_icon.png', height: '25')
= link_to('javascript:;') do
  = image_tag('social/snapchat_icon.jpg', height: '25')