.col-sm-12.col-md-12
  %span.step
    = t('profile.receive_money.step_2')
  %span.step_content
    = t('profile.receive_money.content_step_2')
  .row.two-column-table
    .row.equal.tbody.text-center.sm-top-buffer
      .col-sm-3.col-md-3.td-first
        = t('project.location').upcase + ":"
      .col-sm-3.col-md-3.td-second#country
        Ukraine
      .col-sm-3.col-md-3.vertical-middle 
        %a.tooltips{:href => "javascript:;"}
          = t('profile.main.why_it_is_matters')
          %span 
            = t('profile.main.why_it_is_matters')
      .col-sm-3.col-md-3.vertical-middle 
        %a.tooltips{:href => "javascript:;"}
          = t('profile.main.transaction_fees')
          %span 
            = t('profile.main.transaction_fees')
    .row.equal.tbody.text-center.sm-top-buffer
      .col-sm-3.col-md-3.td-first
        = t('project.category').upcase + ':'
      .col-sm-3.col-md-3.td-second#categories
        ART
      .col-sm-3.col-md-3.vertical-middle 
        %a.tooltips{:href => "javascript:;"}
          = t('profile.main.why_it_is_matters')
          %span 
            = t('profile.main.why_it_is_matters')
      .col-sm-3.col-md-3.vertical-middle 
        %a.tooltips{:href => "javascript:;"}
          = t('profile.main.transaction_fees')
          %span 
            = t('profile.main.transaction_fees')
    .row.equal.tbody.text-center.sm-top-buffer
      .col-sm-3.col-md-3.td-first
        = t('project.goal').upcase + ':'
      .col-sm-3.col-md-3.td-second#goal
        1500 usd
      .col-sm-6.col-md-6
    .row.equal.tbody.text-center.sm-top-buffer
      .col-sm-3.col-md-3.td-first
        = t('project.funded').upcase + ':'
      .col-sm-3.col-md-3.td-second#pledged
        1800 usd
      .col-sm-6.col-md-6 

  .col-sm-12.col-md-12.info-message-gray.bottom-buffer.top-buffer-30
    .col-sm-12.col-md-12.bottom-buffer
      = t('profile.receive_money.failed_message')
    .col-sm-2.col-md-2
      %strong
        = t('profile.receive_money.bc_fees') + ":"
    .col-sm-2.col-md-2#bc_fees
      %strong
        72 USD
    .col-sm-2.col-md-2
      @4%
    .col-sm-2.col-md-2
      %a.tooltips{:href => "javascript:;"}
        = t('profile.main.what_is_it')
        %span 
          = t('profile.main.what_is_it')
    .col-sm-4.col-md-4
      %a.tooltips{:href => "javascript:;"}
        = t('profile.main.bc_fees')
        %span 
          = t('profile.main.bc_fees')

  .row.two-column-table
    .row.equal.tbody.text-center.sm-top-buffer
      .col-sm-3.col-md-3.td-first.text-center
        = t('profile.main.total_balance')
      .col-sm-3.col-md-3.td-second#total
        1728 usd
      .col-sm-2.col-md-2.vertical-middle 
        = t('profile.main.not_right')
      .col-sm-4.col-md-4.vertical-middle 
        = t('profile.main.contact_us')
        = mail_to "account@bullcentury.com"

.col-sm-12.col-md-12.top-buffer.bottom-buffer
  -#%form#submit-receive-money-form
  %form
    -#%input{name: 'project', type: 'hidden', id: 'project_to_submit'}
    .bottom-buffer
      %span.step
        = t('profile.receive_money.step_3')
      %span.step_content
        = t('profile.receive_money.content_step_3')
    = render partial: 'profiles/receive_money/table_sec3'