%a{:href => user_omniauth_authorize_path(url)}
  %h2.textAnimated.animated.In.bounceIn
    %span.textAnimated-cut
      %span.word1
        = image_tag(icon, width: 40)
        %small= t(text)
    %span.textAnimated-mid{class: color}
      = image_tag(icon_white, width: 40)
      %small= t(text)
    %span.textAnimated-cut
      %span.word1
        = image_tag(icon, width: 40)
        %small= t(text)