.row.equal.tbody.text-center.sm-bottom-buffer
  .col-sm-3.col-md-3 
    = link_to(link) do
      = image_tag(image, height: '25')
  .col-sm-3.col-md-3 
    = clicks
  .col-sm-3.col-md-3 
    = likes
  .col-sm-3.col-md-3 
    = fans